html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --bg-white-color: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0, auto;
  /* padding-left: 215px; */
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
}

.header {
  background-color: var(--bg-white-color);
  /* margin-top: 0;
  margin-bottom: 0; */
}

.main-section {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #2f303a;
  text-align: center;
}
.text-section {
  background-color: #e5e5e5;
}
.team-section {
  background-color: #f5f4fa;
}
.footer {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #2f303a;
}

/* оформление логотипа хедера */
.logo-header,
.span-header {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  text-decoration: none;
}
.logo-header {
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 25px;
}
.span-header {
  color: var(--title-text-color);
}

/* оформление логотипа футера */
.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  text-decoration: none;
}
.logo-footer {
  color: var(--accent-color);
}

.span-footer {
  color: var(--bg-white-color);
}
.navigation .link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--title-text-color);
}
.navigation {
  display: inline;
  padding-top: 32px;
  padding-bottom: 32px;
}
.link-active {
  color: var(--accent-color);
  text-decoration: none;
}

.link:hover,
.link:focus,
.contacts-header:hover,
.contacts-header:focus,
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}
.map:hover,
.map:focus {
  color: var(--accent-color);
}
.button:hover,
.button:focus {
  color: var(--bg-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.contacts {
  font-weight: 500;
  line-height: 1.14;
}
.contacts-header {
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
}
.link,
.contacts-header,
.contacts-footer {
  text-decoration: none;
}
.main-title {
  width: 696px;
  margin: 0 auto 30px;
  /* margin: 200px 452px 30px 452px; */
  background: #2f303a;
  color: var(--bg-white-color);
  font-size: 44px;
  line-height: 1.4;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  background: #f5f4fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 0;
  padding: 10px 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
}
.feature {
  margin-top: 94px;
  margin-bottom: 0;
  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.text {
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
}
.title {
  margin-top: 94px;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.image {
  margin-top: 0;
  margin-bottom: 94px;
  width: 370px;
  height: 294px;
}
.photo {
  margin-top: 0;
  margin-bottom: 30px;
  width: 270px;
  height: 260px;
}
.name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.profession {
  margin-top: 0;
  margin-bottom: 0;
  /* margin-bottom: 30px; */
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.address {
  background: #2f303a;
  font-style: normal;
  line-height: 1.17;
}
.map {
  color: var(--bg-white-color);
  text-decoration: none;
}
.products {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  font-size: 18px;
}
.description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
}

.container {
  /* display: flex; */
  width: 1200px;
  margin-top: 0 auto;
  padding-top: 94px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
  /* display: inline; */
}
